FORMAT: 1A
HOST: https://api.mdblist.com

# MDBList API

API service allows you to access information about ratings, votes, streaming services and more

## Authentication

MDBList API supports two authentication methods: **API Keys** (simple) and **OAuth 2.0** (for third-party apps).

### API Keys

API key can be generated for free in [mdblist.com preferences](https://mdblist.com/preferences/).

To authenticate with an API key, append it as a query parameter:

```
https://api.mdblist.com/lists/user/?apikey=YOUR_API_KEY
```

**Best for**: Personal scripts, testing, direct API access.

### OAuth 2.0 (Beta)

OAuth 2.0 allows third-party applications to access MDBList on behalf of users without requiring their API key. Users authorize your app once, and you receive an access token.

**Status**: Currently in **beta**. The implementation is stable and fully functional, but we're gathering feedback from early adopters. Report issues or suggestions at [mdblist.com/developer/](https://mdblist.com/developer/).

**Best for**: Third-party apps, mobile apps, web services that access MDBList on behalf of multiple users.

#### Quick Start for Developers

1. **Register Your App**
   Go to [mdblist.com/developer/](https://mdblist.com/developer/) and create an OAuth application. You'll receive:
   - `client_id` - Public identifier for your app
   - `client_secret` - Secret key (keep this secure!)

2. **Generate PKCE Challenge** (required for all clients)
   ```python
   import secrets, hashlib, base64
   code_verifier = secrets.token_urlsafe(64)
   code_challenge = base64.urlsafe_b64encode(
       hashlib.sha256(code_verifier.encode()).digest()
   ).rstrip(b'=').decode()
   ```

3. **Get Authorization**
   Redirect users to the authorization URL with PKCE:
   ```
   https://mdblist.com/oauth/authorize/?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code&scope=read+write&code_challenge=YOUR_CODE_CHALLENGE&code_challenge_method=S256
   ```

4. **Exchange Code for Token**
   After the user authorizes, they're redirected back with a `code`. Exchange it for an access token (include the original `code_verifier`):
   ```bash
   curl -X POST https://api.mdblist.com/oauth/token/ \
     -d "grant_type=authorization_code" \
     -d "code=AUTHORIZATION_CODE" \
     -d "redirect_uri=YOUR_REDIRECT_URI" \
     -d "client_id=YOUR_CLIENT_ID" \
     -d "client_secret=YOUR_CLIENT_SECRET" \
     -d "code_verifier=YOUR_CODE_VERIFIER"
   ```

   Response:
   ```json
   {
     "access_token": "abc123xyz789",
     "token_type": "Bearer",
     "expires_in": 2592000,
     "refresh_token": "def456uvw",
     "scope": "read write"
   }
   ```

   **Note**: `expires_in` is in seconds (2592000 = 30 days). Save the `refresh_token` to get new access tokens when this one expires.

5. **Use the Token**
   Include the access token in the `Authorization` header:
   ```bash
   curl -H "Authorization: Bearer abc123xyz789" \
     https://api.mdblist.com/lists/user/
   ```

#### OAuth Scopes

| Scope | Description |
| ----- | ----------- |
| `read` | Read access to user's lists, watchlist, ratings, and profile |
| `write` | Modify user's lists, watchlist, ratings, and collection |

Default scope is `read`. Request `read write` for full access.

#### Token Refresh

Access tokens expire after 30 days. Use the refresh token to get a new access token without asking the user to re-authorize:

```bash
curl -X POST https://api.mdblist.com/oauth/token/ \
  -d "grant_type=refresh_token" \
  -d "refresh_token=YOUR_REFRESH_TOKEN" \
  -d "client_id=YOUR_CLIENT_ID" \
  -d "client_secret=YOUR_CLIENT_SECRET"
```

#### OAuth Endpoints

| Endpoint | Method | Purpose |
| -------- | ------ | ------- |
| `/oauth/authorize/` | GET | User authorization (WEB) |
| `/oauth/token/` | POST | Exchange code or refresh token |
| `/oauth/revoke_token/` | POST | Revoke access token |
| `/oauth/introspect/` | POST | Check token validity |

> **Important:** All OAuth endpoints require a trailing slash. For example, use `https://api.mdblist.com/oauth/token/` not `https://api.mdblist.com/oauth/token`. Requests without the trailing slash will fail.

#### Security Best Practices

- **Never expose** your `client_secret` in client-side code
- **Use HTTPS** for all OAuth flows
- **Store tokens securely** (encrypted, never in version control)
- **Handle token expiration** gracefully with refresh tokens
- **Revoke tokens** when users disconnect your app

#### Native/Mobile Apps (PKCE)

For mobile or desktop apps, use PKCE with a loopback or custom scheme redirect URI:

1. **Register app** with a redirect URI (loopback `http://127.0.0.1:PORT/callback` or custom scheme like `myapp://oauth/callback`).
2. **Generate PKCE** `code_verifier` + `code_challenge` (S256).
3. **Authorize** with `code_challenge` + `code_challenge_method=S256`.
4. **Exchange code** with the `code_verifier` at the token endpoint.

**Example PKCE Authorization URL:**
```
https://mdblist.com/oauth/authorize/?client_id=YOUR_CLIENT_ID&redirect_uri=myapp://oauth/callback&response_type=code&scope=read+write&code_challenge=YOUR_CODE_CHALLENGE&code_challenge_method=S256
```

**Python Example for PKCE Flow:**

```python
import requests
import webbrowser

# Step 1: Build PKCE authorization URL
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"
code_challenge = "YOUR_CODE_CHALLENGE"
redirect_uri = "myapp://oauth/callback"

auth_url = (
    f"https://mdblist.com/oauth/authorize/"
    f"?client_id={client_id}"
    f"&redirect_uri={redirect_uri}"
    f"&response_type=code"
    f"&scope=read+write"
    f"&code_challenge={code_challenge}"
    f"&code_challenge_method=S256"
)

# Step 2: Open browser for user to authorize
print("Opening browser for authorization...")
webbrowser.open(auth_url)

# Step 3: Receive the authorization code from your redirect URI handler
auth_code = input("Enter the authorization code: ").strip()

# Step 4: Exchange code for access token
token_response = requests.post(
    "https://api.mdblist.com/oauth/token/",
    data={
        "grant_type": "authorization_code",
        "code": auth_code,
        "redirect_uri": redirect_uri,
        "client_id": client_id,
        "client_secret": client_secret,
        "code_verifier": "YOUR_CODE_VERIFIER",
    }
)

if token_response.status_code == 200:
    token_data = token_response.json()
    access_token = token_data["access_token"]
    print(f"✓ Authorization successful!")
    print(f"Access Token: {access_token}")

    # Step 5: Use the token
    headers = {"Authorization": f"Bearer {access_token}"}
    response = requests.get(
        "https://api.mdblist.com/lists/user/",
        headers=headers
    )
    print(f"✓ Your lists: {response.json()}")
else:
    print(f"✗ Error: {token_response.json()}")
```

**PKCE is required for all clients** (web apps, mobile apps, desktop apps, CLI tools).

#### Example: Web App OAuth Client

```python
import requests
import secrets
import hashlib
import base64

# Step 1: Generate PKCE code verifier and challenge
code_verifier = secrets.token_urlsafe(64)
code_challenge = base64.urlsafe_b64encode(
    hashlib.sha256(code_verifier.encode()).digest()
).rstrip(b'=').decode()

# Step 2: Redirect user to authorization URL with PKCE
auth_url = (
    "https://mdblist.com/oauth/authorize/"
    f"?client_id=YOUR_CLIENT_ID"
    f"&redirect_uri=https://yourapp.com/callback"
    f"&response_type=code"
    f"&scope=read+write"
    f"&code_challenge={code_challenge}"
    f"&code_challenge_method=S256"
)
print(f"Visit: {auth_url}")

# Step 3: After user authorizes, exchange code for token (include code_verifier)
code = input("Enter authorization code: ")
token_response = requests.post(
    "https://api.mdblist.com/oauth/token/",
    data={
        "grant_type": "authorization_code",
        "code": code,
        "redirect_uri": "https://yourapp.com/callback",
        "client_id": "YOUR_CLIENT_ID",
        "client_secret": "YOUR_CLIENT_SECRET",
        "code_verifier": code_verifier,  # Required for PKCE
    }
)
token_data = token_response.json()
access_token = token_data["access_token"]

# Step 4: Use the token
headers = {"Authorization": f"Bearer {access_token}"}
response = requests.get(
    "https://api.mdblist.com/lists/user/",
    headers=headers
)
print(response.json())
```

#### Authentication Method Comparison

| Feature | API Key | OAuth 2.0 |
| ------- | ------- | --------- |
| Setup complexity | ⭐ Simple | ⭐⭐⭐ Moderate |
| Best for | Personal use | Third-party apps |
| User experience | Copy/paste key | One-click authorize |
| Token expiration | Never | 30 days (renewable) |
| Revocable by user | Yes (regenerate) | Yes (per-app) |
| Rate limits | Same as OAuth | Same as API key |

Both methods have the **same rate limits** and access to **all API endpoints**.

## Rate Limiting

The API enforces daily rate limits to ensure fair usage across all users. Your rate limit depends on your supporter tier. Higher supporter tiers receive increased daily request limits.

### Rate Limit Headers

Every API response includes the following headers to help you track your usage:

| Header | Description |
| ------ | ----------- |
| `X-RateLimit-Limit` | Maximum number of requests allowed per day |
| `X-RateLimit-Remaining` | Number of requests remaining in the current period |
| `X-RateLimit-Reset` | Unix timestamp when the rate limit resets (midnight UTC) |

You can check your current rate limit by inspecting these headers in any API response, or by calling the `/user` endpoint.

### Rate Limit Exceeded

When you exceed your daily limit, the API returns a `429 Too Many Requests` status with additional headers:

| Header | Description |
| ------ | ----------- |
| `Retry-After` | Number of seconds until the rate limit resets |

Example response when rate limited:
```json
{
    "error": "Daily API limit exceeded!"
}
```

Response headers:
```
X-RateLimit-Limit: 10000
X-RateLimit-Remaining: 0
X-RateLimit-Reset: 1734393600
Retry-After: 43200
```

## Pagination

Some methods support pagination 📄  
Append a query string like ?limit=`limit`&offset=`offset` to the URL to influence the results.

| Parameter | Type | Value |
| --------- | ---- | ----- |
| `limit` | integer  | Number of results to return |
| `offset` | integer  | Number of results to skip from the beginning  |

## Media IDs

When a response includes an `ids` block for a movie or show we return the collection of provider identifiers plus the MDBList public ID (`mdblist`).

The `mdblist` ID can also be used in sync endpoints (watched, ratings, collection) to identify movies and shows in your requests.

Example:

        "ids": {
            "imdb": "tt0111161",
            "tmdb": 278,
            "trakt": 389,
            "tvdb": 832,
            "mal": 999,
            "mdblist": "a0"
        }

## API Endpoints

All endpoints support **both authentication methods** (API Key and OAuth 2.0). Throughout this documentation:
- Endpoints show `apikey` as optional parameter - use it for API key auth OR use `Authorization: Bearer` header for OAuth
- Rate limits apply equally to both methods
- Same data is returned regardless of authentication method

## User Information [/user{?apikey}]

Show information about the authenticated user, including profile, plan, limits, and rate limit status.

Supports both authentication methods:
- **API Key**: Append `?apikey=YOUR_API_KEY` to the URL
- **OAuth**: Include `Authorization: Bearer YOUR_TOKEN` header

+ Parameters
    + apikey: abc123 (string, optional) - Your API key (not required if using OAuth Bearer token).

### Get User Information [GET]

+ Request With API Key
    + Headers

            Accept: application/json

+ Request With OAuth Token
    + Headers

            Authorization: Bearer abc123xyz789
            Accept: application/json

+ Response 200 (application/json)

            {
                "api_requests": 100000,
                "api_requests_count": 276,
                "user_id": 3,
                "username": "linaspurinis",
                "name": "Linas",
                "avatar_url": "https://example.com/avatar.jpg",
                "date_joined": "2020-01-15T12:00:00",
                "patron_status": "active_patron",
                "patreon_pledge": 300,
                "reward_tier": 300,
                "is_supporter": true,
                "plan": "Supporter",
                "limits": {
                    "lists": 40,
                    "lists_items": 50000,
                    "external_lists": 20,
                    "ai_lists": 6
                },
                "rate_limit": 100000,
                "rate_limit_remaining": 99724,
                "rate_limit_reset": 1706918400,
                "auth_method": "apikey"
            }
        
## My Lists [/lists/user{?apikey,sort,unified}]

Fetches authenticated user's lists.

Supports both authentication methods:
- **API Key**: `?apikey=YOUR_API_KEY`
- **OAuth**: `Authorization: Bearer YOUR_TOKEN` header

+ Parameters
    + apikey: abc123 (string, optional) - Your API key (not required if using OAuth Bearer token).
    + sort: ranked (enum[string], optional) - Sort order for lists.
        + Default: `ranked`
        + Members
            + `ranked` - Sort by manual rank order
            + `name` - Sort alphabetically by name
            + `created` - Sort by creation date
    + unified: false (boolean, optional) - When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array instead of separate `id`. Items are summed and `mediatype` is omitted.
        + Default: `false`

### Get My Lists [GET]

+ Request With API Key
    + Headers

            Accept: application/json

+ Request With OAuth Token
    + Headers

            Authorization: Bearer abc123xyz789
            Accept: application/json
+ Response 200 (application/json)

    Returns an array of lists. When `unified=true`, twin lists (movie + show pairs) are merged: `ids` array replaces `id`, `mediatype` is omitted, and `items` is the sum of both twins.

    + Body

            [
                {
                    "id": 13,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Top Watched Movies of The Week for KiDS",
                    "slug": "top-watched-movies-of-the-week-for-kids",
                    "description": "",
                    "mediatype": "movie",
                    "items": 12,
                    "likes": 50,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false,
                    "last_updated_at": "2025-01-15T10:30:00Z"
                },
                {
                    "id": 14,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Top Watched Movies of The Week / >60",
                    "slug": "top-watched-movies-of-the-week",
                    "description": "",
                    "mediatype": "movie",
                    "items": 75,
                    "likes": 247,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false,
                    "last_updated_at": "2025-01-14T08:00:00Z"
                }
            ]

## User Lists by ID [/lists/user/{userid}{?apikey,sort,unified}]
Fetches users lists by `userid`. Only public lists are returned unless the authenticated user is requesting their own lists.
+ Parameters
    + userid: 3 (int, required) - User ID.
    + apikey: abc123 (string, required) - Your API key.
    + sort: ranked (enum[string], optional) - Sort order for lists.
        + Default: `ranked`
        + Members
            + `ranked` - Sort by manual rank order
            + `name` - Sort alphabetically by name
            + `created` - Sort by creation date
    + unified: false (boolean, optional) - When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array. Items are summed and `mediatype` is omitted.
        + Default: `false`

### Get User Lists [GET]
+ Response 200 (application/json)
    + Body

            [
                {
                    "id": 13,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Top Watched Movies of The Week for KiDS",
                    "slug": "top-watched-movies-of-the-week-for-kids",
                    "description": "",
                    "mediatype": "movie",
                    "items": 12,
                    "likes": 50,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false,
                    "last_updated_at": "2025-01-15T10:30:00Z"
                }
            ]

## User Lists by Name [/lists/user/{username}{?apikey,sort,unified}]
Fetches users lists by username. Only public lists are returned unless the authenticated user is requesting their own lists.
+ Parameters
    + username: linaspurinis (string, required) - The username
    + apikey: abc123 (string, required) - Your API key
    + sort: ranked (enum[string], optional) - Sort order for lists.
        + Default: `ranked`
        + Members
            + `ranked` - Sort by manual rank order
            + `name` - Sort alphabetically by name
            + `created` - Sort by creation date
    + unified: false (boolean, optional) - When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array. Items are summed and `mediatype` is omitted.
        + Default: `false`

### Get User Lists [GET]
+ Response 200 (application/json)
    + Body

            [
                {
                    "id": 13,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Top Watched Movies of The Week for KiDS",
                    "slug": "top-watched-movies-of-the-week-for-kids",
                    "description": "",
                    "mediatype": "movie",
                    "items": 12,
                    "likes": 50,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false,
                    "last_updated_at": "2025-01-15T10:30:00Z"
                }
            ]
            
## List by ID [/lists/{listid}{?apikey}]


+ Parameters
    + listid: 1176 (number, required) - The ID of the list.
    + apikey: abc123 (string, required) - Your API key.

### Get List by ID [GET]

Retrieves details of a list identified by `listid`.

+ Response 200 (application/json)
    + Body
    
            [
                {
                    "id": 1176,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Latest Certified Fresh Releases",
                    "slug": "latest-certified-fresh-releases",
                    "description": "Score >= 60\r\nLimit 30",
                    "mediatype": "movie",
                    "items": 30,
                    "likes": 21,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false
                }
            ]

### Update List by ID [PUT]

Update a list's name and/or privacy setting. At least one field is required.

+ Request (application/json)
    + Body

            {
                "name": "New List Title",
                "private": true
            }

+ Attributes
    + name (string, optional) - New name for the list.
    + private (boolean, optional) - Whether the list should be private.

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "id": 89107,
                "name": "New List Title",
                "private": true
            }

### Delete Static List by ID [DELETE]

Permanently deletes a static list and all its items. Only static lists (user-created) can be deleted. The list must be owned by the authenticated user.

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "id": 89107,
                "name": "My Static List"
            }

+ Response 404 (application/json)
    + Body

            {
                "error": "Static list not found"
            }

+ Response 403 (application/json)
    + Body

            {
                "error": "Permission denied"
            }

## List by Name [/lists/{username}/{listname}{?apikey}]

+ Parameters
    + username: linaspurinis (string, required) - The username associated with the list.
    + listname: `latest-certified-fresh-releases` (string, required) - The slug of the list.
    + apikey: abc123 (string, required) - Your API key.

### Get List by Name [GET]

Retrieves details of list identified by `username` and `listname`. Multiple lists may be returned if separate filters exist for movies and shows.
+ Response 200 (application/json)
    + Body

            [
                {
                    "id": 1176,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Latest Certified Fresh Releases",
                    "slug": "latest-certified-fresh-releases",
                    "description": "Score >= 60\r\nLimit 30",
                    "mediatype": "movie",
                    "items": 30,
                    "likes": 21,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false
                },
                {
                    "id": 6365,
                    "user_id": 3,
                    "user_name": "linaspurinis",
                    "name": "Latest Certified Fresh Releases",
                    "slug": "latest-certified-fresh-releases",
                    "description": "Score >= 60\r\nLimit 30",
                    "mediatype": "show",
                    "items": 30,
                    "likes": 21,
                    "type": "dynamic",
                    "dynamic": true,
                    "private": false
                }
            ]

### Update List by Name [PUT]

Update a list's name and/or privacy setting. At least one field is required.

+ Request (application/json)
    + Body

            {
                "name": "New List Title",
                "private": true
            }

+ Attributes
    + name (string, optional) - New name for the list.
    + private (boolean, optional) - Whether the list should be private.

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "updated_ids": [
                    1176,
                    6365
                ],
                "name": "New List Title",
                "private": true
            }

## List items [/lists/{listid}/items{?apikey,limit,offset,append_to_response,filter_title,filter_genre,genre_operator,sort,order,unified,released_from,released_to,filter_score_min,filter_score_max}]

#### 📄 Pagination

Fetches items from a specified list. You can enhance the response by appending additional details like genres, posters, and ratings using `append_to_response=genres,poster,ratings`.

> **Note:** This endpoint returns up to 1,000 items max, regardless of the `limit` value. Use `limit` and `offset` to page through results.
> The response also includes an `X-Has-More` header set to `true` if more items are available beyond the current page.

To filter the results by genre(s), use the `filter_genre` parameter.

> **Note:** When filtering by multiple genres, `genre_operator` controls the logic:
> - **or** (default): matches items with *any* specified genres.
> - **and**: matches items with *all* specified genres.

#### ⭐ Supporter Feature: Rating Filters

Supporters can filter items by rating thresholds using `_min` and `_max` parameters for any of these rating sources:
- `filter_score_min` / `filter_score_max` - MDBList score (0-100)
- `filter_imdbrating_min` / `filter_imdbrating_max` - IMDb rating (0-100)
- `filter_tmdbrating_min` / `filter_tmdbrating_max` - TMDb rating (0-100)
- `filter_metarating_min` / `filter_metarating_max` - Metacritic rating (0-100)
- `filter_tomatorating_min` / `filter_tomatorating_max` - Rotten Tomatoes rating (0-100)
- `filter_letterrating_min` / `filter_letterrating_max` - Letterboxd rating (0-100)
- `filter_popcornrating_min` / `filter_popcornrating_max` - RT Audience (Popcorn) rating (0-100)
- `filter_malrating_min` / `filter_malrating_max` - MyAnimeList rating (0-100)

**How rating filters work:**
All rating filters use a normalized 0–100 scale for consistency across different sources. This allows ratings from different platforms (IMDb, Letterboxd, Metacritic, etc.) to be compared, filtered, and sorted using a single unified scale.

When filtering, always use values between 0 and 100, regardless of the original rating scale.

Multiple rating filters can be combined. Example: `?filter_imdbrating_min=70&filter_tmdbrating_min=75`

By default, items are sorted by rank ascending.


+ Parameters
    + listid: 1176 (integer, required) - The ID of the list.
    + limit: 100 (integer, optional)
    + offset: 10 (integer, optional)
    + append_to_response: `genres,poster,ratings` (string, optional) - Additional information to append. Supported: `genres`, `poster`, `ratings`.
    + filter_title: Matrix (string, optional) - Filter by title.
    + filter_genre: `fantasy` (string, optional) - Filter by genre.
    + genre_operator: `or` (string, optional) - Logical operator used to combine multiple genre filters. Defaults to or.
        + Members
            + `or`
            + `and`
    + released_from: `2020-01-15` (string, optional) - Filter by minimum release date. Format: YYYY-MM-DD.
    + released_to: `2023-12-31` (string, optional) - Filter by maximum release date. Format: YYYY-MM-DD.
    + filter_score_min: 70 (integer, optional) - ⭐ Supporter only. Filter by minimum MDBList score (0-100).
    + filter_score_max: 90 (integer, optional) - ⭐ Supporter only. Filter by maximum MDBList score (0-100).
    + sort: `score` (string, optional)
        + Members
            + `rank`
            + `score`
            + `usort`
            + `score_average`
            + `released`
            + `releasedigital`
            + `imdbrating`
            + `imdbvotes`
            + `last_air_date`
            + `imdbpopular`
            + `tmdbpopular`
            + `rogerebert`
            + `rtomatoes`
            + `rtaudience`
            + `metacritic`
            + `myanimelist`
            + `letterrating`
            + `lettervotes`
            + `budget`
            + `revenue`
            + `runtime`
            + `title`
            + `sort_title`
            + `added`
            + `random`
    + order: `asc` (string, optional)
        + Members
            + `asc`
            + `desc`
    + unified: `true` (boolean, optional) - Returns unified list of Movies and Shows
    + apikey: abc123 (string, required) - Your API key.

### Get List Items [GET]

+ Response 200 (application/json)

    + Description

        The `X-Total-Items` header shows total number of items in a list, without additional filtering
        The `X-Matched-Items` header shows the number of items returned by the API after applying filters (such as mediatype, genre, rating, etc.)
        The `X-Has-More` header indicates whether more items exist beyond the current response, based on the limit parameter.
        - `true`: More items are available on the next page(s).
        - `false`: No more items available beyond this response.

        When `append_to_response=ratings` is used, each movie/show item includes a `ratings` array with IMDb, TMDb, and MDBList scores.

    + Headers

            X-Total-Items: 7
            X-Matched-Items: 4
            X-Has-More: true

    + Body

            {
              "movies": [
                {
                  "id": 917496,
                  "rank": 1,
                  "adult": 0,
                  "title": "Beetlejuice Beetlejuice",
                  "imdb_id": "tt2049403",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m917496",
                    "imdb": "tt2049403",
                    "tmdb": 917496,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us",
                  "ratings": [
                    {"source": "imdb", "value": 7.0, "score": 70, "votes": 250000},
                    {"source": "tmdb", "value": 72, "score": 72, "votes": 3500},
                    {"source": "mdblist", "value": null, "score": 68, "votes": null}
                  ]
                },
                {
                  "id": 646097,
                  "rank": 2,
                  "adult": 0,
                  "title": "Rebel Ridge",
                  "imdb_id": "tt11301886",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m646097",
                    "imdb": "tt11301886",
                    "tmdb": 646097,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1125073,
                  "rank": 3,
                  "adult": 0,
                  "title": "Between the Temples",
                  "imdb_id": "tt27722375",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1029281,
                  "rank": 4,
                  "adult": 0,
                  "title": "Strange Darling",
                  "imdb_id": "tt22375054",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 840705,
                  "rank": 5,
                  "adult": 0,
                  "title": "Blink Twice",
                  "imdb_id": "tt14858658",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 945961,
                  "rank": 6,
                  "adult": 0,
                  "title": "Alien: Romulus",
                  "imdb_id": "tt18412256",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1214521,
                  "rank": 7,
                  "adult": 0,
                  "title": "Daughters",
                  "imdb_id": "tt12336480",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1158874,
                  "rank": 8,
                  "adult": 0,
                  "title": "Sugarcane",
                  "imdb_id": "tt30319854",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1122618,
                  "rank": 9,
                  "adult": 0,
                  "title": "Good One",
                  "imdb_id": "tt30319516",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                }
              ],
              "shows": []
            }
    
        
## List items by List Name [/lists/{username}/{listname}/items/{?apikey,limit,offset,append_to_response,filter_title,filter_genre,genre_operator,sort,order,unified,released_from,released_to,filter_score_min,filter_score_max}]

#### 📄 Pagination

Fetches items from a specified list. You can enhance the response by appending additional details like genres, posters, and ratings using `append_to_response=genres,poster,ratings`.

> **Note:** This endpoint returns up to 1,000 items max, regardless of the `limit` value. Use `limit` and `offset` to page through results.
> The response also includes an `X-Has-More` header set to `true` if more items are available beyond the current page.


To filter the results by genre(s), use the `filter_genre` parameter.

> **Note:** When filtering by multiple genres, `genre_operator` controls the logic:
> - **or** (default): matches items with *any* specified genres.
> - **and**: matches items with *all* specified genres.

#### ⭐ Supporter Feature: Rating Filters

Supporters can filter items by rating thresholds. See the complete list of available rating filters in the `/lists/{listid}/items` endpoint documentation above.

By default, items are sorted by rank ascending.

> You can filter results by `mediatype` by adding .../items/movie/ or .../items/show/

+ Parameters
    + username: linaspurinis (string, required) - The username associated with the list.
    + listname: `latest-certified-fresh-releases` (string, required) - The slug of the list.
    + limit: 100 (integer, optional)
    + offset: 10 (integer, optional)
    + append_to_response: `genres,poster,ratings` (string, optional) - Additional information to append. Supported: `genres`, `poster`, `ratings`.
    + filter_title: Matrix (string, optional) - Filter by title.
    + filter_genre: `fantasy` (string, optional) - Filter by genre.
    + genre_operator: `or` (string, optional) - Logical operator used to combine multiple genre filters. Defaults to or.
        + Members
            + `or`
            + `and`
    + released_from: `2020-01-15` (string, optional) - Filter by minimum release date. Format: YYYY-MM-DD.
    + released_to: `2023-12-31` (string, optional) - Filter by maximum release date. Format: YYYY-MM-DD.
    + filter_score_min: 70 (integer, optional) - ⭐ Supporter only. Filter by minimum MDBList score (0-100).
    + filter_score_max: 90 (integer, optional) - ⭐ Supporter only. Filter by maximum MDBList score (0-100).
    + sort: `score` (string, optional)
        + Members
            + `rank`
            + `score`
            + `usort`
            + `score_average`
            + `released`
            + `releasedigital`
            + `imdbrating`
            + `imdbvotes`
            + `last_air_date`
            + `imdbpopular`
            + `tmdbpopular`
            + `rogerebert`
            + `rtomatoes`
            + `rtaudience`
            + `metacritic`
            + `myanimelist`
            + `letterrating`
            + `lettervotes`
            + `budget`
            + `revenue`
            + `runtime`
            + `title`
            + `sort_title`
            + `added`
            + `random`
    + order: `asc` (string, optional)
        + Members
            + `asc`
            + `desc`    
    + unified: `true` (boolean, optional) - Returns unified list of Movies and Shows
    + apikey: abc123 (string, required) - Your API key.

### Get List Items by Name [GET]

+ Response 200 (application/json)

    + Description
    
        The `X-Has-More` header indicates whether more items exist beyond the current response, based on the limit parameter.  
        - `true`: More items are available on the next page(s).  
        - `false`: No more items available beyond this response.
        
    + Headers
            
            X-Has-More: true
    
    + Body

            {
              "movies": [
                {
                  "id": 917496,
                  "rank": 1,
                  "adult": 0,
                  "title": "Beetlejuice Beetlejuice",
                  "imdb_id": "tt2049403",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m917496",
                    "imdb": "tt2049403",
                    "tmdb": 917496,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 646097,
                  "rank": 2,
                  "adult": 0,
                  "title": "Rebel Ridge",
                  "imdb_id": "tt11301886",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m646097",
                    "imdb": "tt11301886",
                    "tmdb": 646097,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1125073,
                  "rank": 3,
                  "adult": 0,
                  "title": "Between the Temples",
                  "imdb_id": "tt27722375",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1029281,
                  "rank": 4,
                  "adult": 0,
                  "title": "Strange Darling",
                  "imdb_id": "tt22375054",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 840705,
                  "rank": 5,
                  "adult": 0,
                  "title": "Blink Twice",
                  "imdb_id": "tt14858658",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                }
              ],
              "shows": [
                {
                  "id": 258902,
                  "rank": 1,
                  "adult": 0,
                  "title": "English Teacher",
                  "imdb_id": "tt20782190",
                  "tvdb_id": 421968,
                  "language": "en",
                  "mediatype": "show",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 253254,
                  "rank": 2,
                  "adult": 0,
                  "title": "Fantasmas",
                  "imdb_id": "tt18182112",
                  "tvdb_id": 450408,
                  "language": "en",
                  "mediatype": "show",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 241259,
                  "rank": 3,
                  "adult": 0,
                  "title": "Baby Reindeer",
                  "imdb_id": "tt13649112",
                  "tvdb_id": 417223,
                  "language": "en",
                  "mediatype": "show",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 126308,
                  "rank": 4,
                  "adult": 0,
                  "title": "Shōgun",
                  "imdb_id": "tt2788316",
                  "tvdb_id": 392573,
                  "language": "en",
                  "mediatype": "show",
                  "release_year": 2024,
                  "spoken_language": "ja",
                  "country": "jp"
                },
                {
                  "id": 155292,
                  "rank": 5,
                  "adult": 0,
                  "title": "Scott Pilgrim Takes Off",
                  "imdb_id": "tt16969708",
                  "tvdb_id": 433113,
                  "language": "en",
                  "mediatype": "show",
                  "release_year": 2023,
                  "spoken_language": "en",
                  "country": "us"
                }
              ]
            }
            

## List Changes [/lists/{listid}/changes{?apikey}]

Returns Trakt IDs for items changed after the last list update. Returned up to 200 items per action.

+ Parameters
    + listid: 1176 (integer, required) - The ID of the list.
    + apikey: abc123 (string, required) - Your API key.

### Get List Changes [GET]

+ Response 200 (application/json)
    + Body

            {
              "id": 1176,
              "movie": {
                "trakt_ids": {
                  "added": [
                    116006
                  ],
                  "removed": [
                    125198,
                    129400,
                    132409,
                    148315
                  ]
                }
              },
              "updated": "2024-09-19T09:01:39Z"
            }
            
            
## Media Info [/{media_provider}/{media_type}/{media_id}{?apikey,append_to_response}]

Get informtion about Movie or Show

+ Parameters
    + media_provider: `imdb` (enum[string], required) - Media provider
        + Members
            + `imdb`
            + `tmdb`
            + `trakt`
            + `tvdb`
            + `mal`
            + `mdblist`
    + media_type: movie (string, required)
        + Members
            + `movie`
            + `show`
            + `any`
    + media_id: tt0073195 (string, required) - Media ID
    + append_to_response: `keyword` (string, optional) - Additional information to append. Accepts a comma-separated list of the following values: `keyword`, `review`
        + Members
            + `keyword` - Append keyword information.
            + `review` - Append review information.
    + apikey: abc123 (string, required) - Your API key.

### Get Media Info [GET]

+ Response 200 (application/json)
        
            {
              "title": "Jaws",
              "year": 1975,
              "released": "1975-06-20",
              "released_digital": "1997-11-01",
              "description": "When the seaside community of Amity finds itself under attack by a dangerous great white shark, the town's chief of police, a young marine biologist, and a grizzled hunter embark on a desperate quest to destroy the beast before it strikes again.",
              "runtime": 124,
              "score": 86,
              "score_average": 86,
              "ids": {
                "imdb": "tt0073195",
                "trakt": 457,
                "tmdb": 578,
                "tvdb": null,
                "mal": null,
                "mdblist": "om"
              },
              "type": "movie",
              "updated": "2026-01-05T14:23:45Z",
              "ratings": [
                {
                  "source": "imdb",
                  "value": 8.1,
                  "score": 81,
                  "votes": 673852,
                  "url": 99
                },
                {
                  "source": "metacritic",
                  "value": 87,
                  "score": 87,
                  "votes": 21,
                  "url": "/jaws"
                },
                {
                  "source": "metacriticuser",
                  "value": null,
                  "score": null,
                  "votes": null,
                  "url": null
                },
                {
                  "source": "trakt",
                  "value": 78,
                  "score": 78,
                  "votes": 14033,
                  "url": null
                },
                {
                  "source": "tomatoes",
                  "value": 97,
                  "score": 97,
                  "votes": 102,
                  "url": "/m/jaws"
                },
                {
                  "source": "tmdb",
                  "value": 76,
                  "score": 76,
                  "votes": 10114,
                  "url": null
                },
                {
                  "source": "letterboxd",
                  "value": 8,
                  "score": 80,
                  "votes": 876082,
                  "url": "/film/jaws/"
                },
                {
                  "source": "rogerebert",
                  "value": 4,
                  "score": null,
                  "votes": null,
                  "url": "great-movie-jaws-1975"
                },
                {
                  "source": "myanimelist",
                  "value": null,
                  "score": null,
                  "votes": null,
                  "url": null
                }
              ],
              "streams": [
                {
                  "id": 9,
                  "name": "fuboTV"
                },
                {
                  "id": 10,
                  "name": "AMC"
                }
              ],
              "watch_providers": [
                {
                  "id": 8,
                  "name": "Netflix"
                },
                {
                  "id": 1796,
                  "name": "Netflix basic with Ads"
                }
              ],
              "language": "en",
              "spoken_language": "en",
              "country": "us",
              "certification": "PG",
              "commonsense": true,
              "age_rating": 13,
              "status": "released",
              "trailer": "https://youtube.com/watch?v=WKuZJjPSLXQ",
              "poster": "https://image.tmdb.org/t/p/original/lxM6kqilAdpdhqUl2biYp5frUxE.jpg",
              "backdrop": "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/3nYlM34QhzdtAvWRV5bN4nLtnTc.jpg"
            }


## Media Info Batch [/{media_provider}/{media_type}{?apikey}]

Request up to 200 media items. Add append_to_response in the request body.

+ Parameters
    + media_provider: `trakt` (enum[string], required) - Media provider
        + Members
            + `imdb`
            + `tmdb`
            + `trakt`
            + `tvdb`
            + `mal`
            + `mdblist`
    + media_type: movie (string, required)
        + Members
            + `movie`
            + `show`
            + `any`
    + apikey: abc123 (string, required) - Your API key.


### Get Media Info Batch [POST]

+ Request (application/json)

            {
                "ids": ["116006", "125198"],
                "append_to_response": ["review", "keyword"]
            }

+ Response 200 (application/json)
    + Body
    
            [
              {
                "id": 128773,
                "title": "The Phantom of the Convent",
                "year": 1934,
                "released": "1934-06-26",
                "description": "Alfonso, Eduardo and Cristina get lost when visiting a forest. A strange monk finds them and takes them to an ancient convent. There, the three amigos suffer personality changes, specially Cristina who tries to seduce Alfonso in a strange coincidence to a story told by an old monk. After some efforts to escape, Alfonso is trapped inside a jail and more strange and macabre situations happen.",
                "runtime": 85,
                "score": 31,
                "score_average": 64,
                "ids": {
                  "imdb": "tt0025100",
                  "trakt": 116006,
                  "tmdb": 184940,
                  "tvdb": null,
                  "mal": null,
                  "mdblist": "2rd1"
                },
                "type": "movie",
                "updated": "2026-01-04T09:12:33Z",
                "ratings": [],
                "streams": [],
                "watch_providers": [
                  {
                    "id": 258,
                    "name": "Criterion Channel"
                  }
                ],
                "language": "es",
                "spoken_language": "es",
                "country": "mx",
                "certification": "NR",
                "commonsense": null,
                "age_rating": 11,
                "status": "released",
                "trailer": null,
                "poster": "https://image.tmdb.org/t/p/original/gi5MqHPQEkekaqNZ5PqMFZ70cdf.jpg",
                "backdrop": "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/2peiLehxIXlk36KAtWfl2v53Soc.jpg",
                "reviews": [
                  {
                    "updated_at": "2024-04-01",
                    "author": "NealZ",
                    "rating": 7,
                    "provider_id": 1,
                    "content": "This officially marks the oldest movie I've ever watched, and I must say, I'm pleasantly surprised by how much I enjoyed it. Initially seeming rather straightforward, it ended up delivering more surprises than I had imagined. I relished the overall atmosphere; it even boasted some impressive practical effects and had its moments of delightful silliness. Though it didn't quite muster the scares by today's standards, I found it to be a far more engaging experience than many contemporary releases. It leaves me hopeful for exploring other films from that era, or even earlier ones."
                  }
                ],
                "keywords": [
                  {
                    "id": 96,
                    "name": "monk"
                  },
                  {
                    "id": 6325,
                    "name": "convent-nunnery"
                  },
                  {
                    "id": 51341,
                    "name": "mexican-horror"
                  },
                  {
                    "id": 80325,
                    "name": "lost-in-woods"
                  }
                  }
                ]
              },
              {
                "id": 2401479,
                "title": "One Mile From Heaven",
                "year": 1937,
                "released": "1937-08-18",
                "description": "A female journalist travels to a new neighborhood after getting a (false) lead and is surprised by what she finds.",
                "runtime": 67,
                "score": 0,
                "score_average": 70,
                "ids": {
                  "imdb": "tt0029349",
                  "trakt": 125198,
                  "tmdb": 200717,
                  "tvdb": null,
                  "mal": null,
                  "mdblist": "1fgzr"
                },
                "type": "movie",
                "updated": "2026-01-03T18:45:12Z",
                "ratings": [],
                "streams": [],
                "watch_providers": [],
                "language": "en",
                "spoken_language": "en",
                "country": "us",
                "certification": "NR",
                "commonsense": null,
                "age_rating": null,
                "status": "released",
                "trailer": null,
                "poster": "https://image.tmdb.org/t/p/original/4zOeRUZqvqLSYdATrqg97qT5o0l.jpg",
                "backdrop": "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/qH2F24GxmUVsgwHvv39iVy3YSq1.jpg",
                "reviews": [
                  {
                    "updated_at": "2021-02-02",
                    "author": "Louis Lautier",
                    "rating": 1,
                    "provider_id": 3,
                    "content": "Bill Robinson and Fredi Washington give performances deserving commendation."
                  }
                ],
                "keywords": [
                  {
                    "id": 1305,
                    "name": "mother"
                  },
                  {
                    "id": 1594,
                    "name": "wealth"
                  },
                  {
                    "id": 12453,
                    "name": "welfare"
                  },
                  {
                    "id": 304495,
                    "name": "welfare"
                  }
                ]
              }
            ]
            
## Search for Media [/search/{media_type}{?apikey,query,limit_by_score,sort_by_score,year,limit}]

Search for Movie or Show

+ Parameters
    + media_type: movie (string, required)
        + Members
            + `movie`
            + `show`
            + `any`
    + query: Jaws (string, required) - Search Query
    + limit_by_score: 30 (int, optional) - Limit returned results by score
    + sort_by_score: True (Boolean, optional) - Sort returned results by score
    + year: 1976 (int, optional) - Limit returned results by year +-1
    + limit: 10 (int, optional) - Limit returned results
    + apikey: abc123 (string, required) - Your API Key

### Get Search Results [GET]

+ Response 200 (application/json)
        
            {
              "search": [
                {
                  "title": "Jaws",
                  "year": 1975,
                  "score": 86,
                  "score_average": 86,
                  "type": "movie",
                  "ids": {
                    "imdbid": "tt0073195",
                    "tmdbid": 578,
                    "traktid": 457,
                    "malid": null,
                    "tvdbid": null
                  }
                },
                {
                  "title": "Jaws 2",
                  "year": 1978,
                  "score": 55,
                  "score_average": 55,
                  "type": "movie",
                  "ids": {
                    "imdbid": "tt0077766",
                    "tmdbid": 579,
                    "traktid": 458,
                    "malid": null,
                    "tvdbid": null
                  }
                },
                {
                  "title": "The Shark Is Still Working: The Impact & Legacy of \"Jaws\"",
                  "year": 2009,
                  "score": 46,
                  "score_average": 80,
                  "type": "movie",
                  "ids": {
                    "imdbid": "tt0469185",
                    "tmdbid": 106262,
                    "traktid": 75531,
                    "malid": null,
                    "tvdbid": null
                  }
                }
              ],
              "total": 3
            }

## Top Lists [/lists/top{?apikey}]
Lists top lists sorted by Trakt likes

+ Parameters
    + apikey: abc123 (string, required) - Your API key.

### Get Top Lists [GET]

+ Response 200 (application/json)
    + Body
                
            [
              {
                "id": 2194,
                "user_id": 1230,
                "user_name": "garycrawfordgc",
                "name": "Latest TV Shows",
                "slug": "latest-tv-shows",
                "description": "",
                "mediatype": "show",
                "items": 300,
                "likes": 477
              },
              {
                "id": 14,
                "user_id": 3,
                "user_name": "linaspurinis",
                "name": "Top Watched Movies of The Week / >60",
                "slug": "top-watched-movies-of-the-week",
                "description": "",
                "mediatype": "movie",
                "items": 76,
                "likes": 247
              },
              {
                "id": 3082,
                "user_id": 1230,
                "user_name": "garycrawfordgc",
                "name": "Netflix Shows",
                "slug": "netflix-shows",
                "description": "",
                "mediatype": "show",
                "items": 300,
                "likes": 201
              },
              {
                "id": 3093,
                "user_id": 1230,
                "user_name": "garycrawfordgc",
                "name": "Netflix Movies",
                "slug": "netflix-movies",
                "description": "",
                "mediatype": "movie",
                "items": 200,
                "likes": 192
              },
              {
                "id": 3882,
                "user_id": 894,
                "user_name": "hdlists",
                "name": "Latest TV Shows",
                "slug": "latest-tv-shows",
                "description": "Latest TV Shows List for English Language Series/Specials",
                "mediatype": "show",
                "items": 300,
                "likes": 188
              }
            ]

## List Search [/lists/search{?apikey,query}]
Search public lists by title

+ Parameters
    + query: Horror (string, required) - Search query
    + apikey: abc123 (string, required) - Your API key.

### Search Lists [GET]

+ Response 200 (application/json)
    + Body
                
            [
              {
                "id": 2410,
                "user_id": 894,
                "user_name": "hdlists",
                "name": "Horror Movies (Top Rated From 1960 to Today)",
                "slug": "latest-hd-horror-movies-top-rated-from-1980-to-today",
                "description": "",
                "mediatype": "movie",
                "items": 920,
                "likes": 139
              },
              {
                "id": 3110,
                "user_id": 1230,
                "user_name": "garycrawfordgc",
                "name": "Horror",
                "slug": "horror",
                "description": "",
                "mediatype": "movie",
                "items": 347,
                "likes": 68
              },
              {
                "id": 3124,
                "user_id": 1230,
                "user_name": "garycrawfordgc",
                "name": "Horror Shows",
                "slug": "horror-shows",
                "description": "",
                "mediatype": "show",
                "items": 129,
                "likes": 53
              }
            ]

## Ratings [/rating/{media_type}/{return_rating}{?apikey,query}]
Bulk rating request. Provide list of tmdb or imdb ids with media type and returns ratings of requested type.

+ Parameters
    + media_type: movie (string, required)
        + Members
            + `movie`
            + `show`
    + return_rating: letterboxd (string, required) - Return rating type
        + Members
            + `trakt`
            + `imdb`
            + `tmdb`
            + `letterboxd`
            + `tomatoes`
            + `audience`
            + `metacritic`
            + `rogerebert`
            + `mal`
            + `score`
            + `score_average`
    + apikey: abc123 (string, required) - Your API key.

### Get Ratings [POST]

+ Request (application/json)

            {
                "ids": 
                    [923, 990, 545611],
                "provider": "tmdb"
            }

+ Response 200 (application/json)
    + Body
                
            {
              "provider_id": "tmdb",
              "provider_rating": "letterboxd",
              "mediatype": "movie",
              "ratings": [
                {
                  "id": 923,
                  "rating": 4
                },
                {
                  "id": 990,
                  "rating": 4.1
                },
                {
                  "id": 545611,
                  "rating": 4.3
                }
              ]
            }


## Up Next [/upnext{?apikey,limit,offset}]
Get in-progress TV shows with their next unwatched aired episodes. Returns shows ordered by last watched date.

+ Parameters
    + apikey: abc123 (string, required) - Your API key.
    + limit: 20 (number, optional) - Number of items to return (default: 20, max: 100)
    + offset: 0 (number, optional) - Number of items to skip for pagination (default: 0)

### Get Up Next Shows [GET]

+ Response 200 (application/json)
    + Body

            {
              "items": [
                {
                  "show": {
                    "ids": {
                      "mdblist": "8gp2",
                      "tmdb": 60625
                    },
                    "title": "Rick and Morty",
                    "year": 2013,
                    "poster": "/WGRQ8FpjkDTzivQJ43t94bOuY0.jpg"
                  },
                  "next_episode": {
                    "ids": {
                      "tmdb": 6122200
                    },
                    "season": 8,
                    "episode": 2,
                    "title": "Valkyrick",
                    "air_date": "2025-06-01T00:00:00+00:00",
                    "runtime": 22,
                    "still": "/wJNBw6mTV38fdMSpqbb4j4DnlMy.jpg"
                  },
                  "progress": {
                    "watched_episode_count": 72,
                    "total_episode_count": 81
                  },
                  "last_watched_at": "2026-01-05T22:27:00+00:00"
                }
              ],
              "limit": 20,
              "has_more": false
            }


## Genres [/genres/{?apikey,anime}]
Get a list of all genres, including names and slugs.

+ Parameters
    + apikey: abc123 (string, required) - Your API key.
    + anime: 1 (number, optional) - Display anime genres (0 for regular, 1 for anime)

### Get Genres [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "slug": "anime-parody",
                    "title": "Anime: Parody"
                },
                {
                    "slug": "anime-shounen",
                    "title": "Anime: Shounen"
                },
                {
                    "slug": "anime-slice-of-life",
                    "title": "Anime: Slice of Life"
                },
                {
                    "slug": "anime-isekai",
                    "title": "Anime: Isekai"
                },
                {
                    "slug": "anime-historical",
                    "title": "Anime: Historical"
                },
                {
                    "slug": "anime-military",
                    "title": "Anime: Military"
                },
                {
                    "slug": "anime-seinen",
                    "title": "Anime: Seinen"
                },
                {
                    "slug": "anime-supernatural",
                    "title": "Anime: Supernatural"
                },
                {
                    "slug": "anime-vampire",
                    "title": "Anime: Vampire"
                }
            ]


# Group Static Lists

To edit a static list's name or privacy setting, use `PUT /lists/{listid}` — see [Update List by ID](#list-by-id-update-list-by-id-put).

To delete a static list, use `DELETE /lists/{listid}` — see [Delete Static List by ID](#list-by-id-delete-static-list-by-id-delete).

## Create Static List [/lists/user/add{?apikey}]

Create a new static list.

+ Parameters
    + apikey: abc123 (string, required) - Your API key.

### Create Static List [POST]

+ Request (application/json)

            {
                "name": "My Static List",
                "private": false
            }

+ Attributes
    + name (string, required) - The name of the list.
    + private (boolean, optional) - Whether the list should be private. Default: `false`.

+ Response 201 (application/json)

    + Body

            {
                "id": 12345,
                "slug": "my-static-list",
                "url": "https://mdblist.com/lists/yourname/my-static-list"
            }

+ Response 400 (application/json)

    + Body

            {
                "detail": "List name is required."
            }

+ Response 403 (application/json)

    + Body

            {
                "detail": "Static list limit reached.",
                "limit": 4
            }


## Modify Static List Items [/lists/{listid}/items/{action}{?apikey}]

You can modify static list by adding or removing items

+ Parameters
    + listid: 49088 (number, required) - The ID of your static list
    + action: add (string, required)
        + Members
            + `add`
            + `remove`
    + apikey: abc123 (string, required) - Your API key.

### Modify Static List Items [POST]

+ Request (application/json)

            {
             "movies": [
                {
                 "tmdb": 630,
                 "imdb": "tt0032138"
                },
                {
                 "tmdb": 238
                }     
             ],
             "shows": [
                {
                 "imdb": "tt0417299"
                },
                {
                 "tmdb": 1396
                }
               ]
            }

+ Response 200 (application/json)

    + Body

            {
            "added": {
                    "movies": 2,
                    "shows": 2
                },
            "existing": {
                    "movies": 0,
                    "shows": 0
                },
            "not_found": {
                    "movies": 0,
                    "shows": 0
                }
            }


# Group External Lists

### Get User's External Lists [GET /external/lists/user{?apikey}]

Retrieve all external lists owned by the authenticated user.

External lists are lists imported from external sources (Trakt, IMDb, Letterboxd, etc.) and can be managed through the MDBList interface.

+ Parameters
    + apikey: abc123 (string, required) - Your API key.

+ Response 200 (application/json)

        [
            {
                "id": 123,
                "user_id": 456,
                "user_name": "johndoe",
                "name": "My Trakt Watchlist",
                "updated": "2025-01-15T10:30:00Z",
                "items": 175,
                "movies": 150,
                "shows": 25,
                "url": "https://trakt.tv/users/johndoe/watchlist",
                "source": "trakt"
            },
            {
                "id": 124,
                "user_id": 456,
                "user_name": "johndoe",
                "name": "IMDb Favorites",
                "updated": "2025-01-10T08:15:00Z",
                "items": 97,
                "movies": 85,
                "shows": 12,
                "url": "https://www.imdb.com/list/ls123456789/",
                "source": "imdb"
            }
        ]

+ Response 401 (application/json)

        {
            "error": "Invalid API key"
        }

+ Response 500 (application/json)

        {
            "error": "An error occurred"
        }

### Get External List Info [GET /external/lists/{listid}{?apikey}]

Retrieve information about a specific external list by its ID.

Returns list metadata including name, source, item counts, and last update time. Access is controlled by the list owner's `private_external_lists` setting - if enabled, only the owner can view the list info.

+ Parameters
    + listid: 123 (number, required) - The ID of the external list.
    + apikey: abc123 (string, required) - Your API key.

+ Response 200 (application/json)

        [
            {
                "id": 123,
                "user_id": 456,
                "user_name": "johndoe",
                "name": "My Trakt Watchlist",
                "updated": "2025-01-15T10:30:00Z",
                "items": 175,
                "movies": 150,
                "shows": 25,
                "url": "https://trakt.tv/users/johndoe/watchlist",
                "source": "trakt"
            }
        ]

+ Response 401 (application/json)

        {
            "error": "Invalid API key"
        }

+ Response 404 (application/json)

        {
            "error": "Not found"
        }

## List items [/external/lists/{listid}/items{?apikey,limit,offset,append_to_response,filter_genre,sort,order,unified,filter_score_min,filter_score_max}]

#### 📄 Pagination

Fetches list items. Use `append_to_response=genres,poster,ratings` to include genres, posters, and ratings in the response. To filter results by a specific genre, use `filter_genre=fantasy` to retrieve only fantasy items.

#### ⭐ Supporter Feature: Rating Filters

Supporters can filter external list items by rating thresholds. See the complete list of available rating filters in the `/lists/{listid}/items` endpoint documentation.

By default, items are sorted by rank.

+ Parameters
    + listid: 47989 (integer, required) - The ID of the list.
    + limit: 100 (integer, optional)
    + offset: 10 (integer, optional)
    + append_to_response: `genres,poster,ratings` (string, optional) - Additional information to append. Supported: `genres`, `poster`, `ratings`.
    + filter_genre: `fantasy` (string, optional) - Filter by genre, works if genre is included.
    + filter_score_min: 70 (integer, optional) - ⭐ Supporter only. Filter by minimum MDBList score (0-100).
    + filter_score_max: 90 (integer, optional) - ⭐ Supporter only. Filter by maximum MDBList score (0-100).
    + sort: `score` (string, optional)
        + Members
            + `rank`
            + `score`
            + `score_average`
            + `released`
            + `releasedigital`
            + `imdbrating`
            + `imdbvotes`
            + `last_air_date`
            + `imdbpopular`
            + `tmdbpopular`
            + `rogerebert`
            + `rtomatoes`
            + `rtaudience`
            + `metacritic`
            + `myanimelist`
            + `letterrating`
            + `lettervotes`
            + `budget`
            + `revenue`
            + `runtime`
            + `title`
            + `sort_title`
            + `random`
    + order: `asc` (string, optional)
        + Members
            + `asc`
            + `desc`
    + unified: `true` (boolean, optional) - Returns unified list of Movies and Shows
    + apikey: abc123 (string, required) - Your API key.

### Get List Items [GET]

+ Response 200 (application/json)
    + Body

            {
              "movies": [
                {
                  "id": 917496,
                  "rank": 1,
                  "adult": 0,
                  "title": "Beetlejuice Beetlejuice",
                  "imdb_id": "tt2049403",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m917496",
                    "imdb": "tt2049403",
                    "tmdb": 917496,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 646097,
                  "rank": 2,
                  "adult": 0,
                  "title": "Rebel Ridge",
                  "imdb_id": "tt11301886",
                  "tvdb_id": null,
                  "ids": {
                    "mdblist": "m646097",
                    "imdb": "tt11301886",
                    "tmdb": 646097,
                    "tvdb": null
                  },
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1125073,
                  "rank": 3,
                  "adult": 0,
                  "title": "Between the Temples",
                  "imdb_id": "tt27722375",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1029281,
                  "rank": 4,
                  "adult": 0,
                  "title": "Strange Darling",
                  "imdb_id": "tt22375054",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 840705,
                  "rank": 5,
                  "adult": 0,
                  "title": "Blink Twice",
                  "imdb_id": "tt14858658",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 945961,
                  "rank": 6,
                  "adult": 0,
                  "title": "Alien: Romulus",
                  "imdb_id": "tt18412256",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1214521,
                  "rank": 7,
                  "adult": 0,
                  "title": "Daughters",
                  "imdb_id": "tt12336480",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1158874,
                  "rank": 8,
                  "adult": 0,
                  "title": "Sugarcane",
                  "imdb_id": "tt30319854",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                },
                {
                  "id": 1122618,
                  "rank": 9,
                  "adult": 0,
                  "title": "Good One",
                  "imdb_id": "tt30319516",
                  "tvdb_id": null,
                  "language": "en",
                  "mediatype": "movie",
                  "release_year": 2024,
                  "spoken_language": "en",
                  "country": "us"
                }
              ],
              "shows": []
            }




# Group Updates

The Updates endpoints return media items that have been recently modified in the MDBList database. Updates include changes to ratings, metadata, streaming availability, and other media information.

Use these endpoints to keep your local database synchronized with MDBList changes.

## Movie Updates [/movies/updates{?apikey,since,limit,cursor}]

Returns recently updated movies with cursor-based pagination.

**Pagination:**
- Use `next_cursor` from the response to fetch the next page
- Maximum `limit` is 100 items per request

+ Parameters
    + apikey: abc123 (string, required) - Your API Key
    + since: `2026-01-01` (string, optional) - ISO 8601 timestamp or `YYYY-MM-DD` date in UTC (default: last 24 hours, max: 30 days ago)
    + limit: 20 (int, optional) - Number of results per page (default: 20, max: 100)
    + cursor: `2026-01-05T12:34:56Z,12345` (string, optional) - Pagination cursor from `next_cursor` in previous response

### Get recently updated movies [GET]

+ Response 200 (application/json)
    + Body

            {
                "movies": [
                    {
                        "title": "Example Movie",
                        "mdblist": "abcd1234",
                        "imdb": "tt1234567",
                        "tmdb": 12345,
                        "updated": "2026-01-05T12:34:56Z"
                    }
                ],
                "pagination": {
                    "limit": 20,
                    "since": "2026-01-01T00:00:00Z",
                    "has_more": true,
                    "next_cursor": "2026-01-05T12:34:56Z,12345"
                }
            }

## Show Updates [/shows/updates{?apikey,since,limit,cursor}]

Returns recently updated shows with cursor-based pagination.

**Pagination:**
- Use `next_cursor` from the response to fetch the next page
- Maximum `limit` is 100 items per request

+ Parameters
    + apikey: abc123 (string, required) - Your API Key
    + since: `2026-01-01` (string, optional) - ISO 8601 timestamp or `YYYY-MM-DD` date in UTC (default: last 24 hours, max: 30 days ago)
    + limit: 20 (int, optional) - Number of results per page (default: 20, max: 100)
    + cursor: `2026-01-05T12:34:56Z,12345` (string, optional) - Pagination cursor from `next_cursor` in previous response

### Get recently updated Shows [GET]

+ Response 200 (application/json)
    + Body

            {
                "shows": [
                    {
                        "title": "Example Show",
                        "mdblist": "wxyz9876",
                        "imdb": "tt7654321",
                        "tmdb": 98765,
                        "updated": "2026-01-05T12:34:56Z"
                    }
                ],
                "pagination": {
                    "limit": 20,
                    "since": "2026-01-01T00:00:00Z",
                    "has_more": true,
                    "next_cursor": "2026-01-05T12:34:56Z,12345"
                }
            }

# Group Sync

## Last Activities [/sync/last_activities{?apikey}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Retrieve the latest user activity timestamps across multiple sync endpoints.  
Clients should call this first to check which categories have changed since the last sync.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.

### Retrieve Last Activities [GET]

+ Response 200 (application/json)
    + Body

            {
                "watchlisted_at": "2025-10-22T06:48:10Z",
                "watched_at": "2025-10-22T07:53:32Z",
                "season_watched_at": "2025-10-22T07:53:32Z",
                "episode_watched_at": "2025-10-22T07:53:32Z",
                "rated_at": "2025-10-22T07:53:44Z",
                "collected_at": "2025-10-22T07:56:39Z",
                "paused_at": "2025-10-22T08:00:00Z",
                "episode_paused_at": "2025-10-22T08:00:00Z",
                "list_updated_at": "2025-10-22T09:00:00Z"
            }


## Watched History [/sync/watched{?apikey,offset,limit,since,append_to_response}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Get, add, or update watched history for movies and TV shows.
This endpoint updates the user's `watched_at` activity timestamp.

> **Supported IDs**: Movies support `imdb`, `tmdb`, `trakt`, `mdblist`, and `kitsu` (for anime). Shows support `imdb`, `tmdb`, `trakt`, `mdblist`, and `tvdb`.
> **Note**: The `kitsu` ID is only returned when it exists in the database (primarily for anime titles). This ID is only available in sync and scrobble endpoints.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.
    + offset: 0 (number, optional) — Number of results to skip from the beginning (default: 0).
    + limit: 1000 (number, optional) — Max results per page (default: 1000, max: 5000).
    + since: `2025-10-01T00:00:00Z` (string, optional) — Return items updated after this timestamp.
    + append_to_response: `genres,ratings` (string, optional) — Comma-separated list of additional fields. Supported: `genres`, `ratings`.

### Retrieve Watched History [GET]

+ Response 200 (application/json)
    + Body

            {
                "movies": [
                    {
                        "last_watched_at": "2025-10-21T12:00:00Z",
                        "movie": {
                            "title": "Batman Begins",
                            "year": 2005,
                            "ids": {
                                "trakt": 272,
                                "imdb": "tt0372784",
                                "tmdb": 272,
                                "kitsu": 12345,
                                "mdblist": "a388"
                            },
                            "ratings": [
                                {"source": "imdb", "value": 8.2, "score": 82, "votes": 1500000},
                                {"source": "tmdb", "value": 78, "score": 78, "votes": 15000},
                                {"source": "mdblist", "value": null, "score": 85, "votes": null}
                            ]
                        }
                    }
                ],
                "shows": [
                    {
                        "last_watched_at": "2025-10-15T20:00:00Z",
                        "show": {
                            "title": "Breaking Bad",
                            "year": 2008,
                            "ids": {
                                "trakt": 1,
                                "imdb": "tt0903747",
                                "tmdb": 1396,
                                "mdblist": "8plj"
                            },
                            "release_date": "2008-01-20",
                            "status": "Ended",
                            "runtime": 45,
                            "total_aired_episodes": 62,
                            "genres": ["drama", "thriller"],
                            "ratings": [
                                {"source": "imdb", "value": 9.5, "score": 95, "votes": 2100000},
                                {"source": "tmdb", "value": 89, "score": 89, "votes": 12000},
                                {"source": "mdblist", "value": null, "score": 97, "votes": null}
                            ]
                        }
                    }
                ],
                "seasons": [
                    {
                        "last_watched_at": "2025-10-15T20:00:00Z",
                        "season": {
                            "number": 1,
                            "name": "Season 1",
                            "ids": {
                                "tmdb": 3572
                            },
                            "show": {
                                "title": "Breaking Bad",
                                "year": 2008,
                                "ids": {
                                    "tmdb": 1396,
                                    "trakt": 1,
                                    "imdb": "tt0903747",
                                    "mdblist": "8plj"
                                }
                            }
                        }
                    }
                ],
                "episodes": [
                    {
                        "last_watched_at": "2025-10-15T20:00:00Z",
                        "episode": {
                            "season": 1,
                            "number": 1,
                            "name": "Pilot",
                            "ids": {
                                "tmdb": 62085
                            },
                            "show": {
                                "title": "Breaking Bad",
                                "year": 2008,
                                "ids": {
                                    "tmdb": 1396,
                                    "trakt": 1,
                                    "imdb": "tt0903747",
                                    "mdblist": "8plj"
                                }
                            }
                        }
                    }
                ],
                "pagination": {
                    "offset": 0,
                    "limit": 1000,
                    "total_movies": 150,
                    "total_shows": 25,
                    "total_seasons": 5,
                    "total_episodes": 62,
                    "has_more": true
                }
            }

### Add or Update Watched History [POST]

**Cascading Behavior:**
- **Episode provided**: Marks only that specific episode
- **Season provided (no episodes)**: Marks entire season + all episodes
- **Show ID only (no seasons)**: Marks entire show + all seasons + all episodes
- **Timestamps**: If `watched_at` is not provided, defaults to current time

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "title": "Batman Begins",
                        "year": 2005,
                        "ids": {
                            "imdb": "tt0372784",
                            "tmdb": 272,
                            "trakt": 272,
                            "kitsu": 12345,
                            "mdblist": "a388"
                        },
                        "watched_at": "2025-10-21T12:00:00Z"
                    }
                ],
                "shows": [
                    {
                        "title": "Breaking Bad",
                        "year": 2008,
                        "ids": {
                            "imdb": "tt0903747",
                            "tmdb": 1396,
                            "mdblist": "8plj"
                        },
                        "seasons": [
                            {
                                "number": 1,
                                "watched_at": "2025-10-15T20:00:00Z"
                            },
                            {
                                "number": 2,
                                "episodes": [
                                    {
                                        "number": 1,
                                        "watched_at": "2025-10-20T09:30:00Z"
                                    },
                                    {
                                        "number": 2,
                                        "watched_at": "2025-10-20T21:00:00Z"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "updated": {
                    "movies": 1,
                    "seasons": 1,
                    "episodes": 2
                }
            }


## Remove Watched History [/sync/watched/remove{?apikey}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Mark items as unwatched.  
The records remain in the database but their `watched_at` fields are set to `null`.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.

### Remove Watched History [POST]

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "ids": {
                            "imdb": "tt0372784",
                            "mdblist": "a388"
                        }
                    }
                ],
                "shows": [
                    {
                        "ids": {
                            "imdb": "tt0903747",
                            "mdblist": "8plj"
                        },
                        "seasons": [
                            {
                                "number": 1
                            },
                            {
                                "number": 2,
                                "episodes": [
                                    {
                                        "number": 1
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "removed": {
                    "movies": 1,
                    "seasons": 1,
                    "episodes": 1
                }
            }


## Ratings Sync [/sync/ratings{?apikey,offset,limit,since}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Get, add, or update user ratings for movies and TV shows.
This endpoint updates the user's `rated_at` activity timestamp.

> **Supported IDs**: Movies support `imdb`, `tmdb`, `trakt`, `mdblist`, and `kitsu` (for anime). Shows support `imdb`, `tmdb`, `trakt`, `mdblist`, and `tvdb`.
> **Note**: The `kitsu` ID is only returned when it exists in the database (primarily for anime titles). This ID is only available in sync and scrobble endpoints.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.
    + offset: 0 (number, optional) — Number of results to skip from the beginning (default: 0).
    + limit: 1000 (number, optional) — Max results per page (default: 1000, max: 5000).
    + since: `2025-10-01T00:00:00Z` (string, optional) — Return items updated after this timestamp.

### Retrieve Ratings [GET]

+ Response 200 (application/json)
    + Body

            {
                "movies": [
                    {
                        "rated_at": "2025-10-21T14:00:00Z",
                        "rating": 8,
                        "movie": {
                            "title": "The Avengers",
                            "year": 2012,
                            "ids": {
                                "trakt": 24428,
                                "imdb": "tt0848228",
                                "tmdb": 24428,
                                "kitsu": 67890
                            }
                        }
                    }
                ],
                "seasons": [
                    {
                        "rated_at": "2025-10-15T20:00:00Z",
                        "rating": 8,
                        "season": {
                            "number": 1,
                            "name": "Season 1",
                            "ids": {
                                "tmdb": 3572
                            },
                            "show": {
                                "title": "Breaking Bad",
                                "year": 2008,
                                "ids": {
                                    "tmdb": 1396,
                                    "trakt": 1,
                                    "imdb": "tt0903747"
                                }
                            }
                        }
                    }
                ],
                "episodes": [
                    {
                        "rated_at": "2025-10-15T21:00:00Z",
                        "rating": 10,
                        "episode": {
                            "season": 1,
                            "number": 1,
                            "name": "Pilot",
                            "ids": {
                                "tmdb": 62085
                            },
                            "show": {
                                "title": "Breaking Bad",
                                "year": 2008,
                                "ids": {
                                    "tmdb": 1396,
                                    "trakt": 1,
                                    "imdb": "tt0903747"
                                }
                            }
                        }
                    }
                ],
                "pagination": {
                    "offset": 0,
                    "limit": 1000,
                    "total_movies": 150,
                    "total_seasons": 5,
                    "total_episodes": 62,
                    "has_more": false
                }
            }

### Add or Update Ratings [POST]

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "ids": {
                            "tmdb": 24428,
                            "imdb": "tt0848228",
                            "trakt": 24428,
                            "kitsu": 67890
                        },
                        "rating": 8,
                        "rated_at": "2025-10-21T14:00:00Z"
                    }
                ],
                "shows": [
                    {
                        "ids": {
                            "imdb": "tt0903747"
                        },
                        "rating": 9,
                        "rated_at": "2025-10-20T15:00:00Z",
                        "seasons": [
                            {
                                "number": 1,
                                "rating": 8,
                                "rated_at": "2025-10-15T20:00:00Z",
                                "episodes": [
                                    {
                                        "number": 1,
                                        "rating": 10,
                                        "rated_at": "2025-10-15T21:00:00Z"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "updated": {
                    "movies": 1,
                    "seasons": 1,
                    "episodes": 1
                }
            }


## Remove Ratings [/sync/ratings/remove{?apikey}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Remove user ratings for movies and TV shows.  
The records remain but rating fields are cleared and `rated_at` is set to `null`.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.

### Remove Ratings [POST]

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "ids": {
                            "tmdb": 24428
                        }
                    }
                ],
                "shows": [
                    {
                        "ids": {
                            "imdb": "tt0903747"
                        },
                        "seasons": [
                            {
                                "number": 1,
                                "episodes": [
                                    {
                                        "number": 1
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "removed": {
                    "movies": 1,
                    "seasons": 0,
                    "episodes": 1
                }
            }


## Collection Sync [/sync/collection{?apikey,offset,limit,since}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Get, add, or update items in the user's collection.
This endpoint updates the user's `collected_at` activity timestamp.

> **Supported IDs**: Movies support `imdb`, `tmdb`, `trakt`, `mdblist`, and `kitsu` (for anime). Shows support `imdb`, `tmdb`, `trakt`, `mdblist`, and `tvdb`.
> **Note**: The `kitsu` ID is only returned when it exists in the database (primarily for anime titles). This ID is only available in sync and scrobble endpoints.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.
    + offset: 0 (number, optional) — Number of results to skip from the beginning (default: 0).
    + limit: 1000 (number, optional) — Max results per page (default: 1000, max: 5000).
    + since: `2025-10-01T00:00:00Z` (string, optional) — Return items updated after this timestamp.

### Retrieve Collection [GET]

+ Response 200 (application/json)
    + Body

            {
                "movies": [
                    {
                        "collected_at": "2025-10-21T15:00:00Z",
                        "movie": {
                            "title": "The Dark Knight",
                            "year": 2008,
                            "ids": {
                                "imdb": "tt0468569",
                                "tmdb": 155,
                                "trakt": 16,
                                "kitsu": 11111
                            }
                        }
                    }
                ],
                "shows": [
                    {
                        "collected_at": "2025-10-20T15:00:00Z",
                        "show": {
                            "title": "Breaking Bad",
                            "year": 2008,
                            "ids": {
                                "imdb": "tt0903747",
                                "tmdb": 1396
                            }
                        }
                    }
                ],
                "pagination": {
                    "offset": 0,
                    "limit": 1000,
                    "total_movies": 150,
                    "total_shows": 0,
                    "has_more": false
                }
            }

### Add or Update Collection [POST]

**Cascading Behavior:**
- **Episode provided**: Marks only that specific episode
- **Season provided (no episodes)**: Marks entire season + all episodes
- **Show ID only (no seasons)**: Marks entire show + all seasons + all episodes
- **Timestamps**: If `collected_at` is not provided, defaults to current time

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "ids": {
                            "imdb": "tt0468569",
                            "tmdb": 155,
                            "trakt": 16,
                            "kitsu": 11111
                        },
                        "collected_at": "2025-10-21T15:00:00Z"
                    }
                ],
                "shows": [
                    {
                        "ids": {
                            "imdb": "tt0903747"
                        },
                        "collected_at": "2025-10-20T15:00:00Z"
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "updated": {
                    "movies": 1,
                    "shows": 1
                }
            }


## Remove Collection [/sync/collection/remove{?apikey}]

> ⚠️ **Notice: Sync endpoints are currently in BETA.**

Remove items from the user's collection.  
The records remain but collection fields are cleared and `collected_at` is set to `null`.

+ Parameters
    + apikey: `abc123` (string, required) — Your API key.

### Remove Collection [POST]

+ Request (application/json)
    + Body

            {
                "movies": [
                    {
                        "ids": {
                            "imdb": "tt0468569"
                        }
                    }
                ],
                "shows": [
                    {
                        "ids": {
                            "imdb": "tt0903747"
                        }
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

[...]
