{
    "openapi": "3.0.3",
    "info": {
        "title": "MDBList API",
        "version": "1.0.0",
        "description": "MDBList API provides list, media, ratings, sync, scrobble, watchlist, and catalog endpoints.\n\n## Authentication\nUse one of these methods:\n- **API Key**: pass `apikey` query parameter\n- **OAuth Bearer**: pass `Authorization: Bearer <token>`\n\nBoth methods are supported on all documented endpoints.\n\n## Base URL\n`https://api.mdblist.com`\n\n## Rate Limits\nRate limits are per account/tier. Responses include:\n- `X-RateLimit-Limit`\n- `X-RateLimit-Remaining`\n- `X-RateLimit-Reset`\n\n## Notes\n- Use endpoint tags to navigate sections (General, Sync, Scrobble, Watchlist, Catalog, etc.).\n- Full developer details: https://mdblist.com/developer/"
    },
    "servers": [
        {
            "url": "https://api.mdblist.com"
        }
    ],
    "paths": {
        "/user": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "api_requests": {
                                            "type": "number"
                                        },
                                        "api_requests_count": {
                                            "type": "number"
                                        },
                                        "user_id": {
                                            "type": "number"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "date_joined": {
                                            "type": "string"
                                        },
                                        "patron_status": {
                                            "type": "string"
                                        },
                                        "patreon_pledge": {
                                            "type": "number"
                                        },
                                        "reward_tier": {
                                            "type": "number"
                                        },
                                        "is_supporter": {
                                            "type": "boolean"
                                        },
                                        "plan": {
                                            "type": "string"
                                        },
                                        "limits": {
                                            "type": "object",
                                            "properties": {
                                                "lists": {
                                                    "type": "number"
                                                },
                                                "lists_items": {
                                                    "type": "number"
                                                },
                                                "external_lists": {
                                                    "type": "number"
                                                },
                                                "ai_lists": {
                                                    "type": "number"
                                                },
                                                "catalog_queries": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "rate_limit": {
                                            "type": "number"
                                        },
                                        "rate_limit_remaining": {
                                            "type": "number"
                                        },
                                        "rate_limit_reset": {
                                            "type": "number"
                                        },
                                        "auth_method": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "api_requests": 100000,
                                    "api_requests_count": 276,
                                    "user_id": 3,
                                    "username": "linaspurinis",
                                    "name": "Linas",
                                    "avatar_url": "https://example.com/avatar.jpg",
                                    "date_joined": "2020-01-15T12:00:00",
                                    "patron_status": "active_patron",
                                    "patreon_pledge": 300,
                                    "reward_tier": 300,
                                    "is_supporter": true,
                                    "plan": "Supporter",
                                    "limits": {
                                        "lists": 40,
                                        "lists_items": 50000,
                                        "external_lists": 20,
                                        "ai_lists": 6,
                                        "catalog_queries": 40
                                    },
                                    "rate_limit": 100000,
                                    "rate_limit_remaining": 99724,
                                    "rate_limit_reset": 1706918400,
                                    "auth_method": "apikey"
                                }
                            }
                        }
                    }
                },
                "summary": "Get User Information",
                "operationId": "Get User Information",
                "description": "",
                "parameters": [
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        },
                        "required": false
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/user": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Returns an array of lists. When `unified=true`, twin lists (movie + show pairs) are merged: `ids` array replaces `id`, `mediatype` is omitted, and `items` is the sum of both twins.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "user_name": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "mediatype": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "number"
                                            },
                                            "likes": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "dynamic": {
                                                "type": "boolean"
                                            },
                                            "private": {
                                                "type": "boolean"
                                            },
                                            "last_updated_at": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "user_id",
                                            "user_name",
                                            "name",
                                            "slug",
                                            "description",
                                            "mediatype",
                                            "items",
                                            "likes",
                                            "type",
                                            "dynamic",
                                            "private",
                                            "last_updated_at"
                                        ]
                                    }
                                },
                                "example": [
                                    {
                                        "id": 13,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Top Watched Movies of The Week for KiDS",
                                        "slug": "top-watched-movies-of-the-week-for-kids",
                                        "description": "",
                                        "mediatype": "movie",
                                        "items": 12,
                                        "likes": 50,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false,
                                        "last_updated_at": "2025-01-15T10:30:00Z"
                                    },
                                    {
                                        "id": 14,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Top Watched Movies of The Week / >60",
                                        "slug": "top-watched-movies-of-the-week",
                                        "description": "",
                                        "mediatype": "movie",
                                        "items": 75,
                                        "likes": 247,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false,
                                        "last_updated_at": "2025-01-14T08:00:00Z"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Get My Lists",
                "operationId": "Get My Lists",
                "description": "",
                "parameters": [
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        },
                        "required": false
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order for lists.",
                        "example": "ranked",
                        "schema": {
                            "type": "string",
                            "default": "ranked",
                            "enum": [
                                "ranked",
                                "name",
                                "created"
                            ]
                        }
                    },
                    {
                        "name": "unified",
                        "in": "query",
                        "description": "When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array instead of separate `id`. Items are summed and `mediatype` is omitted.",
                        "example": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/user/{userid}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "user_name": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "mediatype": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "number"
                                            },
                                            "likes": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "dynamic": {
                                                "type": "boolean"
                                            },
                                            "private": {
                                                "type": "boolean"
                                            },
                                            "last_updated_at": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "id": 13,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Top Watched Movies of The Week for KiDS",
                                        "slug": "top-watched-movies-of-the-week-for-kids",
                                        "description": "",
                                        "mediatype": "movie",
                                        "items": 12,
                                        "likes": 50,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false,
                                        "last_updated_at": "2025-01-15T10:30:00Z"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Get User Lists",
                "operationId": "Get User Lists By ID",
                "description": "",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "path",
                        "description": "User ID.",
                        "required": true,
                        "example": 3,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order for lists.",
                        "example": "ranked",
                        "schema": {
                            "type": "string",
                            "default": "ranked",
                            "enum": [
                                "ranked",
                                "name",
                                "created"
                            ]
                        }
                    },
                    {
                        "name": "unified",
                        "in": "query",
                        "description": "When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array. Items are summed and `mediatype` is omitted.",
                        "example": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/user/{username}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "user_name": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "mediatype": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "number"
                                            },
                                            "likes": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "dynamic": {
                                                "type": "boolean"
                                            },
                                            "private": {
                                                "type": "boolean"
                                            },
                                            "last_updated_at": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "id": 13,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Top Watched Movies of The Week for KiDS",
                                        "slug": "top-watched-movies-of-the-week-for-kids",
                                        "description": "",
                                        "mediatype": "movie",
                                        "items": 12,
                                        "likes": 50,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false,
                                        "last_updated_at": "2025-01-15T10:30:00Z"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Get User Lists",
                "operationId": "Get User Lists By Username",
                "description": "",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The username",
                        "required": true,
                        "example": "linaspurinis",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order for lists.",
                        "example": "ranked",
                        "schema": {
                            "type": "string",
                            "default": "ranked",
                            "enum": [
                                "ranked",
                                "name",
                                "created"
                            ]
                        }
                    },
                    {
                        "name": "unified",
                        "in": "query",
                        "description": "When `true`, twin lists (movie + show pairs) are merged into a single entry with `ids` array. Items are summed and `mediatype` is omitted.",
                        "example": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/{listid}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "user_name": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "mediatype": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "number"
                                            },
                                            "likes": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "dynamic": {
                                                "type": "boolean"
                                            },
                                            "private": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "id": 1176,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Latest Certified Fresh Releases",
                                        "slug": "latest-certified-fresh-releases",
                                        "description": "Score >= 60\r\nLimit 30",
                                        "mediatype": "movie",
                                        "items": 30,
                                        "likes": 21,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Get List by ID",
                "operationId": "Get List by ID",
                "description": "Retrieves details of a list identified by `listid`.",
                "parameters": [
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "The ID of the list.",
                        "required": true,
                        "example": 1176,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "number"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "private": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "id": 89107,
                                    "name": "New List Title",
                                    "private": true
                                }
                            }
                        }
                    }
                },
                "summary": "Update List by ID",
                "operationId": "Update List by ID",
                "description": "Update a list's name and/or privacy setting. At least one field is required.",
                "parameters": [
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "The ID of the list.",
                        "required": true,
                        "example": 1176,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "name": "New List Title",
                                "private": true
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name for the list."
                                    },
                                    "private": {
                                        "type": "boolean",
                                        "description": "Whether the list should be private."
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "General"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "number"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "id": 89107,
                                    "name": "My Static List"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Permission denied"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Static list not found"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Static List by ID",
                "operationId": "Delete Static List by ID",
                "description": "Permanently deletes a static list and all its items. Only static lists (user-created) can be deleted. The list must be owned by the authenticated user.",
                "parameters": [
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "The ID of the list.",
                        "required": true,
                        "example": 1176,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/{username}/{listname}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "user_name": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "mediatype": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "number"
                                            },
                                            "likes": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "dynamic": {
                                                "type": "boolean"
                                            },
                                            "private": {
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "user_id",
                                            "user_name",
                                            "name",
                                            "slug",
                                            "description",
                                            "mediatype",
                                            "items",
                                            "likes",
                                            "type",
                                            "dynamic",
                                            "private"
                                        ]
                                    }
                                },
                                "example": [
                                    {
                                        "id": 1176,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Latest Certified Fresh Releases",
                                        "slug": "latest-certified-fresh-releases",
                                        "description": "Score >= 60\r\nLimit 30",
                                        "mediatype": "movie",
                                        "items": 30,
                                        "likes": 21,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false
                                    },
                                    {
                                        "id": 6365,
                                        "user_id": 3,
                                        "user_name": "linaspurinis",
                                        "name": "Latest Certified Fresh Releases",
                                        "slug": "latest-certified-fresh-releases",
                                        "description": "Score >= 60\r\nLimit 30",
                                        "mediatype": "show",
                                        "items": 30,
                                        "likes": 21,
                                        "type": "dynamic",
                                        "dynamic": true,
                                        "private": false
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Get List by Name",
                "operationId": "Get List by Name",
                "description": "Retrieves details of list identified by `username` and `listname`. Multiple lists may be returned if separate filters exist for movies and shows.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The username associated with the list.",
                        "required": true,
                        "example": "linaspurinis",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listname",
                        "in": "path",
                        "description": "The slug of the list.",
                        "required": true,
                        "example": "latest-certified-fresh-releases",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "updated_ids": {
                                            "type": "array",
                                            "items": {
                                                "type": "number"
                                            }
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "private": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "updated_ids": [
                                        1176,
                                        6365
                                    ],
                                    "name": "New List Title",
                                    "private": true
                                }
                            }
                        }
                    }
                },
                "summary": "Update List by Name",
                "operationId": "Update List by Name",
                "description": "Update a list's name and/or privacy setting. At least one field is required.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The username associated with the list.",
                        "required": true,
                        "example": "linaspurinis",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listname",
                        "in": "path",
                        "description": "The slug of the list.",
                        "required": true,
                        "example": "latest-certified-fresh-releases",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "name": "New List Title",
                                "private": true
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name for the list."
                                    },
                                    "private": {
                                        "type": "boolean",
                                        "description": "Whether the list should be private."
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/{listid}/items": {
            "get": {
                "responses": {
                    "200": {
                        "description": "+ Description\n\n    The `X-Total-Items` header shows total number of items in a list, without additional filtering\n    The `X-Matched-Items` header shows the number of items returned by the API after applying filters (such as mediatype, genre, rating, etc.)\n    The `X-Has-More` header indicates whether more items exist beyond the current response, based on the limit parameter.\n    - `true`: More items are available on the next page(s).\n    - `false`: No more items available beyond this response.\n\n    When `append_to_response=ratings` is used, each movie/show item includes a `ratings` array with IMDb, TMDb, and MDBList scores.",
                        "headers": {
                            "X-Total-Items": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Matched-Items": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Has-More": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "movies": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "adult": {
                                                        "type": "number"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "imdb_id": {
                                                        "type": "string"
                                                    },
                                                    "tvdb_id": {
                                                        "nullable": true
                                                    },
                                                    "ids": {
                                                        "type": "object",
                                                        "properties": {
                                                            "mdblist": {
                                                                "type": "string"
                                                            },
                                                            "imdb": {
                                                                "type": "string"
                                                            },
                                                            "tmdb": {
                                                                "type": "number"
                                                            },
                                                            "tvdb": {
                                                                "nullable": true
                                                            }
                                                        }
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    },
                                                    "mediatype": {
                                                        "type": "string"
                                                    },
                                                    "release_year": {
                                                        "type": "number"
                                                    },
                                                    "spoken_language": {
                                                        "type": "string"
                                                    },
                                                    "country": {
                                                        "type": "string"
                                                    },
                                                    "ratings": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "source": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "number",
                                                                    "nullable": true
                                                                },
                                                                "score": {
                                                                    "type": "number"
                                                                },
                                                                "votes": {
                                                                    "type": "number",
                                                                    "nullable": true
                                                                }
                                                            },
                                                            "required": [
                                                                "source",
                                                                "value",
                                                                "score",
                                                                "votes"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "rank",
                                                    "adult",
                                                    "title",
                                                    "imdb_id",
                                                    "tvdb_id",
                                                    "ids",
                                                    "language",
                                                    "mediatype",
                                                    "release_year",
                                                    "spoken_language",
                                                    "country"
                                                ]
                                            }
                                        },
                                        "shows": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "movies": [
                                        {
                                            "id": 917496,
                                            "rank": 1,
                                            "adult": 0,
                                            "title": "Beetlejuice Beetlejuice",
                                            "imdb_id": "tt2049403",
                                            "tvdb_id": null,
                                            "ids": {
                                                "mdblist": "m917496",
                                                "imdb": "tt2049403",
                                                "tmdb": 917496,
                                                "tvdb": null
                                            },
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us",
                                            "ratings": [
                                                {
                                                    "source": "imdb",
                                                    "value": 7,
                                                    "score": 70,
                                                    "votes": 250000
                                                },
                                                {
                                                    "source": "tmdb",
                                                    "value": 72,
                                                    "score": 72,
                                                    "votes": 3500
                                                },
                                                {
                                                    "source": "mdblist",
                                                    "value": null,
                                                    "score": 68,
                                                    "votes": null
                                                }
                                            ]
                                        },
                                        {
                                            "id": 646097,
                                            "rank": 2,
                                            "adult": 0,
                                            "title": "Rebel Ridge",
                                            "imdb_id": "tt11301886",
                                            "tvdb_id": null,
                                            "ids": {
                                                "mdblist": "m646097",
                                                "imdb": "tt11301886",
                                                "tmdb": 646097,
                                                "tvdb": null
                                            },
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1125073,
                                            "rank": 3,
                                            "adult": 0,
                                            "title": "Between the Temples",
                                            "imdb_id": "tt27722375",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1029281,
                                            "rank": 4,
                                            "adult": 0,
                                            "title": "Strange Darling",
                                            "imdb_id": "tt22375054",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 840705,
                                            "rank": 5,
                                            "adult": 0,
                                            "title": "Blink Twice",
                                            "imdb_id": "tt14858658",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 945961,
                                            "rank": 6,
                                            "adult": 0,
                                            "title": "Alien: Romulus",
                                            "imdb_id": "tt18412256",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1214521,
                                            "rank": 7,
                                            "adult": 0,
                                            "title": "Daughters",
                                            "imdb_id": "tt12336480",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1158874,
                                            "rank": 8,
                                            "adult": 0,
                                            "title": "Sugarcane",
                                            "imdb_id": "tt30319854",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1122618,
                                            "rank": 9,
                                            "adult": 0,
                                            "title": "Good One",
                                            "imdb_id": "tt30319516",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        }
                                    ],
                                    "shows": []
                                }
                            }
                        }
                    }
                },
                "summary": "Get List Items",
                "operationId": "Get List Items",
                "description": "",
                "parameters": [
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "The ID of the list.",
                        "required": true,
                        "example": 1176,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "example": 100,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "",
                        "example": 10,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "append_to_response",
                        "in": "query",
                        "description": "Additional information to append. Supported: `genres`, `poster`, `description`, `ratings`.",
                        "example": "genres,poster,description,ratings",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_title",
                        "in": "query",
                        "description": "Filter by title.",
                        "example": "Matrix",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_genre",
                        "in": "query",
                        "description": "Filter by genre.",
                        "example": "fantasy",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genre_operator",
                        "in": "query",
                        "description": "Logical operator used to combine multiple genre filters. Defaults to or.",
                        "example": "or",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "or",
                                "and"
                            ]
                        }
                    },
                    {
                        "name": "released_from",
                        "in": "query",
                        "description": "Filter by minimum release date. Format: YYYY-MM-DD.",
                        "example": "2020-01-15",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "released_to",
                        "in": "query",
                        "description": "Filter by maximum release date. Format: YYYY-MM-DD.",
                        "example": "2023-12-31",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_score_min",
                        "in": "query",
                        "description": "⭐ Supporter only. Filter by minimum MDBList score (0-100).",
                        "example": 70,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter_score_max",
                        "in": "query",
                        "description": "⭐ Supporter only. Filter by maximum MDBList score (0-100).",
                        "example": 90,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "",
                        "example": "score",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rank",
                                "score",
                                "usort",
                                "score_average",
                                "released",
                                "releasedigital",
                                "imdbrating",
                                "imdbvotes",
                                "last_air_date",
                                "imdbpopular",
                                "tmdbpopular",
                                "rogerebert",
                                "rtomatoes",
                                "rtaudience",
                                "metacritic",
                                "myanimelist",
                                "letterrating",
                                "lettervotes",
                                "budget",
                                "revenue",
                                "runtime",
                                "title",
                                "sort_title",
                                "added",
                                "random"
                            ]
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "",
                        "example": "asc",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "unified",
                        "in": "query",
                        "description": "Returns unified list of Movies and Shows",
                        "example": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "apikey",
                        "in": "query",
                        "description": "Your API key (optional when using OAuth Bearer token).",
                        "required": false,
                        "example": "abc123",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "General"
                ]
            }
        },
        "/lists/{username}/{listname}/items/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "+ Description\n     The `X-Has-More` header indicates whether more items exist beyond the current response, based on the limit parameter.  \n    - `true`: More items are available on the next page(s).  \n    - `false`: No more items available beyond this response.",
                        "headers": {
                            "X-Has-More": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "movies": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "adult": {
                                                        "type": "number"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "imdb_id": {
                                                        "type": "string"
                                                    },
                                                    "tvdb_id": {
                                                        "nullable": true
                                                    },
                                                    "ids": {
                                                        "type": "object",
                                                        "properties": {
                                                            "mdblist": {
                                                                "type": "string"
                                                            },
                                                            "imdb": {
                                                                "type": "string"
                                                            },
                                                            "tmdb": {
                                                                "type": "number"
                                                            },
                                                            "tvdb": {
                                                                "nullable": true
                                                            }
                                                        }
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    },
                                                    "mediatype": {
                                                        "type": "string"
                                                    },
                                                    "release_year": {
                                                        "type": "number"
                                                    },
                                                    "spoken_language": {
                                                        "type": "string"
                                                    },
                                                    "country": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "rank",
                                                    "adult",
                                                    "title",
                                                    "imdb_id",
                                                    "tvdb_id",
                                                    "ids",
                                                    "language",
                                                    "mediatype",
                                                    "release_year",
                                                    "spoken_language",
                                                    "country"
                                                ]
                                            }
                                        },
                                        "shows": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "adult": {
                                                        "type": "number"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "imdb_id": {
                                                        "type": "string"
                                                    },
                                                    "tvdb_id": {
                                                        "type": "number"
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    },
                                                    "mediatype": {
                                                        "type": "string"
                                                    },
                                                    "release_year": {
                                                        "type": "number"
                                                    },
                                                    "spoken_language": {
                                                        "type": "string"
                                                    },
                                                    "country": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "rank",
                                                    "adult",
                                                    "title",
                                                    "imdb_id",
                                                    "tvdb_id",
                                                    "language",
                                                    "mediatype",
                                                    "release_year",
                                                    "spoken_language",
                                                    "country"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "movies": [
                                        {
                                            "id": 917496,
                                            "rank": 1,
                                            "adult": 0,
                                            "title": "Beetlejuice Beetlejuice",
                                            "imdb_id": "tt2049403",
                                            "tvdb_id": null,
                                            "ids": {
                                                "mdblist": "m917496",
                                                "imdb": "tt2049403",
                                                "tmdb": 917496,
                                                "tvdb": null
                                            },
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 646097,
                                            "rank": 2,
                                            "adult": 0,
                                            "title": "Rebel Ridge",
                                            "imdb_id": "tt11301886",
                                            "tvdb_id": null,
                                            "ids": {
                                                "mdblist": "m646097",
                                                "imdb": "tt11301886",
                                                "tmdb": 646097,
                                                "tvdb": null
                                            },
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1125073,
                                            "rank": 3,
                                            "adult": 0,
                                            "title": "Between the Temples",
                                            "imdb_id": "tt27722375",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 1029281,
                                            "rank": 4,
                                            "adult": 0,
                                            "title": "Strange Darling",
                                            "imdb_id": "tt22375054",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 840705,
                                            "rank": 5,
                                            "adult": 0,
                                            "title": "Blink Twice",
                                            "imdb_id": "tt14858658",
                                            "tvdb_id": null,
                                            "language": "en",
                                            "mediatype": "movie",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        }
                                    ],
                                    "shows": [
                                        {
                                            "id": 258902,
                                            "rank": 1,
                                            "adult": 0,
                                            "title": "English Teacher",
                                            "imdb_id": "tt20782190",
                                            "tvdb_id": 421968,
                                            "language": "en",
                                            "mediatype": "show",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 253254,
                                            "rank": 2,
                                            "adult": 0,
                                            "title": "Fantasmas",
                                            "imdb_id": "tt18182112",
                                            "tvdb_id": 450408,
                                            "language": "en",
                                            "mediatype": "show",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 241259,
                                            "rank": 3,
                                            "adult": 0,
                                            "title": "Baby Reindeer",
                                            "imdb_id": "tt13649112",
                                            "tvdb_id": 417223,
                                            "language": "en",
                                            "mediatype": "show",
                                            "release_year": 2024,
                                            "spoken_language": "en",
                                            "country": "us"
                                        },
                                        {
                                            "id": 126308,
                                            "rank": 4,
                                            "adult": 0,
                                            "title": "Shōgun",
                                            "imdb_id": "tt2788316",
                                            "tvdb_id": 392573,
                                            "language": "en",
                                            "mediatype": "show",
                                            "release_year": 2024,
                                            "spoken_language": "ja",
                                            "country": "jp"
                                        },
                                        {
                                            "id": 155292,
                                            "rank": 5,
                                            "adult": 0,
                                            "title": "Scott Pilgrim Takes Off",
                                            "imdb_id": "tt16969708",
                                            "tvdb_id": 433113,
                                            "language": "en",
                                            "mediatype": "show",
                                            "release_year": 2023,
                                            "spoken_language": "en",
                                            "country": "us"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Get List Items by Name",
                "operationId": "Get List Items by Name",
                "description": "",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The username associated with the list.",
                        "required": true,
                        "example": "linaspurinis",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listname",
                        "in": "path",
                        "description": "The slug of the list.",
                        "required": true,
                        "example": "latest-certified-fresh-releases",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "example": 100,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "",
                        "example": 10,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "append_to_response",
                        "in": "query",
                        "description": "Additional information to append. Supported: `genres`, `poster`, `description`, `ratings`.",
                        "example": "genres,poster,description,ratings",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_title",
                        "in": "query",
                        "description": "Filter by title.",
                        "example": "Matrix",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_genre",
                        "in": "query",
                        "description": "Filter by genre.",
                        "example": "fantasy",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genre_operator",
                        "in": "query",
                        "description": "Logical operator used to combine multiple genre filters. Defaults to or.",
                        "example": "or",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "or",
                                "and"
                            ]
                        }
                    },
                    {
                        "name": "released_from",
                        "in": "query",
                        "description": "Filter by minimum release date. Format: YYYY-MM-DD.",
                        "example": "2020-01-15",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "released_to",
                        "in": "query",
                        "description": "Filter by maximum release date. Format: YYYY-MM-DD.",
                        "example": "2023-12-31",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_score_min",
                        "in": "query",
                        "description": "⭐ Supporter only. Filter by minimum MDBList score (0-100).",
                        "example": 70,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter_score_max",
                        "in": "query",
                        "description": "⭐ Supporter only. Filter by maximum MDBList score (0-100).",
                        "example": 90,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "",
                        "example": "score",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rank",
                                "score",
                                "usort",
                                "score_average",
                                "released",
                                "releasedigital",
                                "imdbrating",
                                "imdbvotes",
                                "last_air_date",
                                "imdbpopular",
                                "tmdbpopular",
                                "rogerebert",
                                "rtomatoes",
                                "rtaudience",
                                "metacritic",
                                "myanimelist",
                                "letterrating",
                                "lettervotes",
                                "budget",
                                "revenue",
                                "runtime",
                                "title",
[...]
